<%#= turbo_frame_tag "rentals_frame" do %>
  <div class="container mt-3">
    <%= link_to @rental_event.rental, class: "back-btn" do %>
      <i class="fa-solid fa-chevron-left me-2"></i><h6>Retour à ma location</h6>
    <% end %>
    <div class="camera-screen d-flex flex-column align-items-center" data-controller="photo" data-photo-rental-value="<%= params[:rental_id] %>" data-photo-event-value="<%= params[:event_type] %>" >
      <video data-photo-target="video" muted autoplay playsinline></video>
      <button data-photo-target="captureButton" data-action="click->photo#takePhoto" class="capture-button btn btn-primary"><i class="fa-solid fa-camera"></i></button>
    </div>
    <div class="photos-container">
      <% if @rental_event %>
        <% @rental_event.photos.each do |photo| %>
          <%= cl_image_tag photo.key, alt: "Photo #{photo}", class: "gallery" %>
        <% end %>
      <% end %>
    </div>
    <%= link_to @rental_event.rental, class: "validate-btn" do %>
      <button class="btn btn-primary mt-3"><i class="fa-solid fa-check me-2"></i>Valider mes photos</button>
    <% end %>
  </div>
<%# end %>
