<!--<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">rails
      <div id="movies">
        <%# if @available_categories.any? %>-->
          <%# @available_categories.each do |cat| %>
<!--            <h4><%#= cat.id %></h4>
            <p><%#= cat.name %></p>
          <%# end %>-->
        <%# else %>
<!--          <em>Aucune voiture disponible pour les dates demandés.</em>-->
        <%# end %>
<!--      </div>
    </div>
  </div>
</div>-->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= asset_path('banner-img.jpg') %>);">
  <div class="container">
    <div class="banner-txt">
      <h1><strong>Rent faster</strong> with Openrent !</h1>
      <p>Enhanced process for users</p>
    </div>
    <div class="search-dates mt-3">
      <%= form_with url: car_categories_path, method: :get do %>
        <div class="date-inputs">
          <%= text_field_tag :start_date,
                params[:start_date],
                class: "form-control",
                placeholder: "Date de début",
                data: { controller: "datepicker" } %>
          <%= text_field_tag :end_date,
                params[:end_date],
                class: "form-control",
                placeholder: "Date de fin",
                data: { controller: "datepicker" } %>
        </div>
        <div class="button d-flex justify-content-center mt-3">
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        </div>
       <% end %>
    </div>
  </div>
</div>

<div class="cards-container mt-3">
  <% @available_categories.each do |category| %>
    <div class="card-category">
      <div class="card-content">
        <h2><%= category.name %></h2>
      </div>
      <%= link_to car_category_path(category) do %>
        <%= image_tag "#{category.name}", alt: 'Description de l\'image' %>
      <% end %>
      <p class="price"><%= category.calculate_price(params[:start_date], params[:end_date]) %> €</p>
    </div>
  <% end %>
</div>
