<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(<%= asset_path('banner-img.jpg') %>);">
  <div class="container">
    <div class="search-dates">
      <div class="calendar-container">
          <%= render partial: "shared/date_selector_modal" %>
      </div>
    </div>
  </div>
</div>

<div class="cards-container mt-3">
  <% @available_categories.each do |category| %>
    <%= link_to car_category_path(category) do %>
      <div class="card-category" style="background-image: url('<%= asset_path("#{category.name}.png") %>');">
        <div class="card-content">
          <h2><%= category.name %></h2>
          <h6 class="cat-desc"><%= category.description %></h6>
        </div>
        <p class="price"><%= category.calculate_price(session[:start_at], session[:end_at]) %> €</p>
      </div>
    <% end %>
  <% end %>
</div>
