<div class="card-category-details">
  <div class="card-content">
    <%= render partial: "shared/date_selector_modal" %>
    <div class="card-category-show">
      <%= @car_category.name %>
      <%= image_tag "#{@car_category.name}.png", alt: 'Description de l\'image' %>
    </div>
  </div>
  <div class="date-selectors" data-controller = "update-price" data-update-price-id-value="<%=@car_category.id%>">
    <div class="d-flex justify-content-center">
      <%= render 'price' %>
    </div>
  </div>
  <%= link_to "Réserver ce véhicule", rentals_path, method: :post, class: "book-link", data: { turbo_method: :post }  %>
</div>
