  <!-- app/views/car_categories/show.html.erb -->
<div class="card-category-details">
  <div class="card-content mb-3">
    <h2><%= @car_category.name %></h2>
    <p>Automatique - Diesel</p>
  </div>
  <div class="date-selectors" data-controller = "update-price" data-update-price-id-value="<%=@car_category.id%>">
    <%= form_with url: car_category_path(@car_category), method: :get, data: { update_price_target: "form" } do %>
      <%= datetime_local_field_tag :start_date,
                            (session[:start_at] || Time.now).to_s,
                            class: "form-control",
                            min: Time.now.strftime("%Y-%m-%dT%H:%M"),
                            step: 1800,
                            data: { update_price_target: "start", action: "change->update-price#price" } %>
      <%= datetime_local_field_tag :end_date,
        (Time.now + 7.days).change(hour: 12, min: 0).strftime("%Y-%m-%dT%H:%M"),
        min: Time.now.strftime("%Y-%m-%dT%H:%M"),
        step: 1800,
        class: "form-control" %>
    <% end %>
    <div class="d-flex justify-content-center mt-3">
      <%= render 'price' %>
    </div>
  </div>
  <%= image_tag "#{@car_category.name}.png", alt: 'Description de l\'image' %>
  <div class="car-infos mt-3">
    <p>Age du conducteur 25ans ou plus</p>
    <hr class="solid">
    <p>Franchise 1500€</p>
    <hr class="solid">
    <p>km supp 40ct/km</p>
    <hr class="solid">
  </div>
  <div class="book-car-content">
    <div class="book-car-infos">
      <p >Durée: 2j 8h</p>
      <p>Commence dans: 23h</p>
    </div>
  </div>
  <%= link_to "Réserver ce véhicule", rentals_path, method: :post, class: "book-link", data: { turbo_method: :post }  %>
</div>
