
<%= turbo_frame_tag "rentals_frame" do %>
  <div class="container">
    <h1>Votre reservation</h1>
        <div class="featured-car-card">

          <div class="card-banner">
            <%= image_tag "#{@rental.car_category.name}.png", alt: 'Description de l\'image' %>
          </div>

          <div class="card-content">

            <div class="card-title-wrapper">
              <h3 class="h3 card-title">
                <%= @rental.car.car_category.name %>
              </h3>

              <div class="year" value="2021">2021</div>
            </div>

            <ul class="card-list">

              <li class="card-list-item">

                <span class="card-item-text">4 People</span>
              </li>

              <li class="card-list-item">

                <span class="card-item-text">Hybrid</span>
              </li>

              <li class="card-list-item">

                <span class="card-item-text">6.1km / 1-litre</span>
              </li>

              <li class="card-list-item">

                <span class="card-item-text">Automatic</span>
              </li>

            </ul>

            <div class="card-price-wrapper">

              <p class="card-price">
                <strong><%= @rental.price %> €</strong>
              </p>

              <%= link_to "Update", edit_rental_path(@rental), class: "btn btn-primary" %>

            </div>

          </div>

        </div>

<div class="d-flex flex-column justify-content-center mt-4 mb-5">
  <%= link_to "Voir mes reservations", rentals_path, class: "btn btn-primary"%>
  <%= link_to "Commencer le check-in", new_photo_path, class: "btn btn-primary mt-2"%>
  <%= link_to "Create Check-in Event",
            rental_rental_events_path(@rental, event_type: "check_in"),
            class: "btn btn-primary",
            data: { turbo_method: :post } %>


</div>
<% end %>
