<h1>Available Rentals</h1>

<div class="container">
  <div class="row">
    <% @rentals.each do |rental| %>
      <div class="col-lg-6 col-xl-4 mb-4"> <!-- Adjusted for wider but still responsive cards -->
        <div class="rental-card card p-3"> <!-- Increased padding for better spacing -->
          <div class="row no-gutters d-flex">
            <!-- Image on the left -->
            <div class="col-4">
              <%= image_tag "#{rental.car_category.name}.png", alt: 'Description de l\'image', class: "rental-image" %>
            </div>
            <!-- Rental details on the right -->
            <div class="col-8">
              <div class="card-body">
                <!-- Status -->
                <p class="status-text <%= rental.status == 'confirmed' ? 'confirmed-status' : 'pending-status' %>">
                  <%= rental.status.capitalize %> <%= rental.status == 'confirmed' ? '✔' : '⏳' %>
                </p>
                <!-- Car brand and model -->
                <h5 class="card-title"><%= rental.car.brand %> <%= rental.car.model %></h5>
                <!-- Rental period -->
                <p class="rental-period">
                  <%= rental.starts_at.strftime('%d-%m-%y') %>
                  <i class="fas fa-plane-departure"></i>
                  <%= rental.ends_at.strftime('%d-%m-%y') %>
                  <i class="fas fa-plane-arrival"></i>
                </p>
                <!-- Rental price -->
                <p class="rental-price"><strong><%= rental.price %>€</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
