<!DOCTYPE html>
<html>
  <head>
    <title>Openrent6</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!--Line below is hidding navbar if the controller action name is not index or show-->
    <% if action_name == 'index' || action_name == 'show' %>
      <%=render 'shared/navbar'  %>
    <% end %>
    <%= yield %>
    <%=render 'shared/flashes'  %>

  </body>
</html>
